name: cd-production
on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  push-image-front:
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Check if the event is push to master
        if: github.ref != 'refs/heads/master'
        run: |
          exit 1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: front
          target: production-deploy
          push: true
          tags: ghcr.io/twin-te/twin-te:front-prod
          cache-from: type=gha
          cache-to: type=gha,mode=max
          secrets: |
            "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}"

  push-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        service:
          - name: back
            context: back
            target: deploy
            tag: back-prod
          - name: sponsorship
            context: sponsorship
            target: production-deploy
            tag: sponsorship-prod
          - name: parser
            context: parser
            target: ""
            tag: parser-prod
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Check if the event is push to master
        if: github.ref != 'refs/heads/master'
        run: |
          exit 1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.service.context }}
          target: ${{ matrix.service.target || null }}
          push: true
          tags: ghcr.io/twin-te/twin-te:${{ matrix.service.tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: ubuntu-latest
    needs: [push-image-front, push-images]
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Check if the event is push to master
        if: github.ref != 'refs/heads/master'
        run: |
          exit 1
      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIV_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_APP_HOST }} >> ~/.ssh/known_hosts
          ssh-keyscan -H -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_DB_HOST }} >> ~/.ssh/known_hosts
      - name: Deploy to APP Server
        run: |
          ssh ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_APP_HOST }} -p ${{ secrets.SSH_PORT }} "~/twin-te/infra/production/app/script/deploy.sh"
      - name: Deploy to DB Server
        run: |
          ssh ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_DB_HOST }} -p ${{ secrets.SSH_PORT }} "~/twin-te/infra/production/db/deploy.sh"
