name: cd-staging
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  push-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        service:
          - name: back
            context: back
            target: deploy
            tag: back-stg
          - name: front
            context: front
            target: staging-deploy
            tag: front-stg
          - name: sponsorship
            context: sponsorship
            target: staging-deploy
            tag: sponsorship-stg
          - name: parser
            context: parser
            target: ""
            tag: parser-stg
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.service.context }}
          target: ${{ matrix.service.target || null }}
          push: true
          tags: ghcr.io/twin-te/twin-te:${{ matrix.service.tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: ubuntu-latest
    needs: push-images
    environment: stg
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIV_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_APP_HOST }} >> ~/.ssh/known_hosts
          ssh-keyscan -H -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_DB_HOST }} >> ~/.ssh/known_hosts
      - name: Deploy to APP Server
        run: |
          ssh ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_APP_HOST }} -p ${{ secrets.SSH_PORT }} "~/twin-te/infra/staging/app/script/deploy.sh"
      - name: Deploy to DB Server
        run: |
          ssh ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_DB_HOST }} -p ${{ secrets.SSH_PORT }} "~/twin-te/infra/staging/db/deploy.sh"
